body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media only screen and (min-width: 1025px) {
  body>main {
    max-width: 60dvw;
  }
}

h1 {
  text-align: center;
}

hr {
  width: 100%;
}
