body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body>main {
  text-align: justify;
}

table {
  border-collapse: collapse;
  /* junta as bordas */
  width: 100%;
  /* opcional, ocupar toda a largura */
}

table,
th,
td {
  border: 1px solid #444;
  /* cor da borda */
}

pre {
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 1025px) {
  body>main {
    max-width: 60dvw;
  }
}

h1 {
  text-align: center;
}

hr {
  width: 100%;
}
