<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }}</title>
  {{ style_sheet | safe }}
</head>

<body>
  <header style="display: flex; margin: auto; justify-content: space-around;">
    <h3><a href={{ link_home }} style="text-decoration: none;">DevLeo.com</a></h3>
  </header>
  <hr>

  <main>
    <h1>{{ title }}</h1>

    <article id="content">
      {{ content | safe }}
    </article>
  </main>
</body>

</html>
